//andrius.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.artifacts.main.repository.4e594efa-85ed-4749-8fc1-48c0e6130f7d/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@synologyontologyfilesync:registry=https://andrius.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.artifacts.main.repository.4e594efa-85ed-4749-8fc1-48c0e6130f7d/contents/release/npm
